<header class="header">
  <div class="header__loginUser">
    <span class="header__loginUser-span">
      <i class="bi bi-house-door-fill"></i>
      <span>USER</span>
    </span>
  </div>
  <nav class="header__nav">
    <div class="header__nav-items">
      <a class="header__nav-link" href=""><i class="header__nav-link-icons bi bi-funnel-fill"></i><span>Busqueda y Filtrado</span></a>
      <a class="header__nav-link" href=""><i class="header__nav-link-icons bi bi-sliders"></i><span>Opciones de Configuración</span></a>
      <a class="header__nav-link" href=""><i class="header__nav-link-icons bi bi-clock-fill"></i><span>Ver Registro</span></a>
      <a class="header__nav-link" href=""><i class="header__nav-link-icons bi bi-file-earmark-fill"></i><span>Enviar Informe</span></a>
      <a class="header__nav-link" href="">Cerrar Sesión</a>
    </div>
  </nav>
</header>
