<header class="header">
  <div class="header__loginUser">
    <span class="material-symbols-outlined"> account_circle </span>
    <span class="header__loginUser-span">Usuario</span>
  </div>
  <nav class="header__nav">
    <div class="header__nav-items">
      <a class="header__nav-link" href="">Busqueda y Filtrado</a>
      <a class="header__nav-link" href="">Opciones de Configuración</a>
      <a class="header__nav-link" href="">Ver Registro</a>
      <a class="header__nav-link" href="">Enviar Informe</a>
      <a class="header__nav-link" href="">Cerrar Sesión</a>
    </div>
  </nav>
</header>
