<app-bread-crumb />
<!-- actualizar y guardar cambios -->
<section>
  <button
    class="btn text-light m-3"
    type="button"
    style="background-color: #990008"
  >
    Editar
  </button>
  <button
    class="btn text-light"
    type="button"
    style="background-color: #990008"
  >
    Guardar cambios
  </button>
</section>
<!-- muestra todos los registros de los dispositivos -->
<section class="conte__tableRegisters">
  <table class="table table-secondary table-hover">
    <thead>
      <tr style="font-size: small">
        <th class="position-relative">
          <input
            class="w-100 position-absolute bottom-0 start-0 border border-secondary"
            style="outline-color: #990008"
            type="text"
          />
          <p class="pb-2">ID</p>
        </th>
        <th class="position-relative">
          <input
            class="w-100 position-absolute bottom-0 start-0 border border-secondary"
            style="outline-color: #990008"
            type="text"
            list="inputSearchByCodigoActivo"
            [(ngModel)]="filterCodigoActivo"
            (input)="validateInputTable('Codigo Activo')"
          />
          <datalist id="inputSearchByCodigoActivo">
            @for (codigoActivo of getDbEnlaces; track $index) {
            <option value="{{ codigoActivo.codigoActivo }}"></option>
            }
          </datalist>
          <p class="pb-2">Codigo Activo</p>
        </th>
        <th class="position-relative">
          <input
            class="w-100 position-absolute bottom-0 start-0 border border-secondary"
            style="outline-color: #990008"
            type="text"
            list="inputSearchBySeccion"
            [(ngModel)]="filterSeccion"
            (input)="validateInputTable('Sección')"
          />
          <datalist id="inputSearchBySeccion">
            @for (secciones of getDbSecciones; track $index) {
            <option value="{{ secciones.nombreSeccion }}"></option>
            }
          </datalist>
          <p class="pb-2">Sección</p>
        </th>
        <th class="position-relative">
          <input
            class="w-100 position-absolute bottom-0 start-0 border border-secondary"
            style="outline-color: #990008"
            type="text"
            list="inputSearchByResponsable"
            [(ngModel)]="filterResponsable"
            (input)="validateInputTable('Responsable')"
          />
          <datalist id="inputSearchByResponsable">
            @for (responsables of getDbResponsables; track $index) {
            <option value="{{ responsables.nombreResponsable }}"></option>
            }
          </datalist>
          <p class="pb-2">Responsable</p>
        </th>
        <th class="position-relative">
          <input
            class="w-100 position-absolute bottom-0 start-0 border border-secondary"
            style="outline-color: #990008"
            type="text"
            list="inputSearchByTypeHost"
            [(ngModel)]="filterTypeHost"
            (input)="validateInputTable('Tipo de Host')"
          />
          <datalist id="inputSearchByTypeHost">
            @for (typeHost of getDbTypeHost; track $index) {
            <option value="{{ typeHost.nombreTipoHost }}"></option>
            }
          </datalist>
          <p class="pb-2">Tipo de Host</p>
        </th>
        <th class="position-relative">
          <input
            class="w-100 position-absolute bottom-0 start-0 border border-secondary"
            style="outline-color: #990008"
            list="inputSearchByNumeroSerie"
            [(ngModel)]="filterNumeroSerie"
            (input)="validateInputTable('Número de Serie')"
          />
          <datalist id="inputSearchByNumeroSerie">
            @for (numeroSerie of getDbEnlaces; track $index) {
            <option value="{{ numeroSerie.numeroSerie }}"></option>
            }
          </datalist>
          <p class="pb-2">Número de Serie</p>
        </th>
        <th class="position-relative">
          <input
            class="w-100 position-absolute bottom-0 start-0 border border-secondary"
            style="outline-color: #990008"
            type="text"
            name=""
            id=""
          />
          <p class="pb-2">Descripción</p>
        </th>
        <th class="position-relative">
          <input
            class="w-100 position-absolute bottom-0 start-0 border border-secondary"
            style="outline-color: #990008"
            type="text"
            name=""
            id=""
          />
          <p class="pb-2">Dirección IP</p>
        </th>
        <th class="position-relative">
          <input
            class="w-100 position-absolute bottom-0 start-0 border border-secondary"
            style="outline-color: #990008"
            type="text"
            name=""
            id=""
          />
          <p class="pb-2">Fecha de Compra</p>
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- FILTRADO DE BUSQUEDA POR CODIGO ACTIVO -->
      @if (filterCodigoActivo.length > 0 && getDbCodigoAactivoFilters.length > 0) {
      @for (enlaces of getDbCodigoAactivoFilters; track $index) {
      <tr class="searchByCodigoActivo">
        <td></td>
        <td contenteditable="true">{{ enlaces.codigoActivo }}</td>
        @for (secciones of getDbSecciones; track $index) { @if(secciones.id ===
        enlaces.idSeccion){
        <td contenteditable="true">{{ secciones.nombreSeccion }}</td>
        } } @for (responsable of getDbResponsables; track $index) {
        @if(responsable.id === enlaces.idResponsable){
        <td contenteditable="true">{{ responsable.nombreResponsable }}</td>
        } } @for (typoHost of getDbTypeHost; track $index) { @if(typoHost.id ===
        enlaces.idTipoHost){
        <td contenteditable="true">{{ typoHost.nombreTipoHost }}</td>
        } }
        <td contenteditable="true">{{ enlaces.numeroSerie }}</td>
        <td contenteditable="true">{{ enlaces.descripcion }}</td>
        <td contenteditable="true">{{ enlaces.direccionIp }}</td>
        <td contenteditable="true">{{ enlaces.fecha }}</td>
      </tr>
      } }
      <!-- FILTRADO DE BUSQUEDA POR SECCIÓN -->
      @if (filterSeccion.length > 0 && getDbSeccionesFilters.length > 0) {
        @for (enlaces of getDbSeccionesFilters; track $index) {
        <tr class="searchByCodigoActivo">
          <td></td>
          <td contenteditable="true">{{ enlaces.codigoActivo }}</td>
          @for (secciones of getDbSecciones; track $index) { @if(secciones.id ===
          enlaces.idSeccion){
          <td contenteditable="true">{{ secciones.nombreSeccion }}</td>
          } } @for (responsable of getDbResponsables; track $index) {
          @if(responsable.id === enlaces.idResponsable){
          <td contenteditable="true">{{ responsable.nombreResponsable }}</td>
          } } @for (typoHost of getDbTypeHost; track $index) { @if(typoHost.id ===
          enlaces.idTipoHost){
          <td contenteditable="true">{{ typoHost.nombreTipoHost }}</td>
          } }
          <td contenteditable="true">{{ enlaces.numeroSerie }}</td>
          <td contenteditable="true">{{ enlaces.descripcion }}</td>
          <td contenteditable="true">{{ enlaces.direccionIp }}</td>
          <td contenteditable="true">{{ enlaces.fecha }}</td>
        </tr>
        } }
        <!-- FILTRADO DE BUSQUEDA POR RESPONSABLE -->
      @if (filterResponsable.length > 0 && getDbResponsablesFilters.length > 0) {
        @for (enlaces of getDbResponsablesFilters; track $index) {
        <tr class="searchByCodigoActivo">
          <td></td>
          <td contenteditable="true">{{ enlaces.codigoActivo }}</td>
          @for (secciones of getDbSecciones; track $index) { @if(secciones.id ===
          enlaces.idSeccion){
          <td contenteditable="true">{{ secciones.nombreSeccion }}</td>
          } } @for (responsable of getDbResponsables; track $index) {
          @if(responsable.id === enlaces.idResponsable){
          <td contenteditable="true">{{ responsable.nombreResponsable }}</td>
          } } @for (typoHost of getDbTypeHost; track $index) { @if(typoHost.id ===
          enlaces.idTipoHost){
          <td contenteditable="true">{{ typoHost.nombreTipoHost }}</td>
          } }
          <td contenteditable="true">{{ enlaces.numeroSerie }}</td>
          <td contenteditable="true">{{ enlaces.descripcion }}</td>
          <td contenteditable="true">{{ enlaces.direccionIp }}</td>
          <td contenteditable="true">{{ enlaces.fecha }}</td>
        </tr>
        } }
         <!-- FILTRADO DE BUSQUEDA POR TIPO DE DISPOSITIVO -->
      @if (filterTypeHost.length > 0 && getDbTypeHostFilters.length > 0) {
        @for (enlaces of getDbTypeHostFilters; track $index) {
        <tr class="searchByCodigoActivo">
          <td></td>
          <td contenteditable="true">{{ enlaces.codigoActivo }}</td>
          @for (secciones of getDbSecciones; track $index) { @if(secciones.id ===
          enlaces.idSeccion){
          <td contenteditable="true">{{ secciones.nombreSeccion }}</td>
          } } @for (responsable of getDbResponsables; track $index) {
          @if(responsable.id === enlaces.idResponsable){
          <td contenteditable="true">{{ responsable.nombreResponsable }}</td>
          } } @for (typoHost of getDbTypeHost; track $index) { @if(typoHost.id ===
          enlaces.idTipoHost){
          <td contenteditable="true">{{ typoHost.nombreTipoHost }}</td>
          } }
          <td contenteditable="true">{{ enlaces.numeroSerie }}</td>
          <td contenteditable="true">{{ enlaces.descripcion }}</td>
          <td contenteditable="true">{{ enlaces.direccionIp }}</td>
          <td contenteditable="true">{{ enlaces.fecha }}</td>
        </tr>
        } }
         <!-- FILTRADO DE BUSQUEDA POR NÚMERO DE SERIE -->
      @if (filterNumeroSerie.length > 0 && getDbNumeroSerieFilters.length > 0) {
        @for (enlaces of getDbNumeroSerieFilters; track $index) {
        <tr class="searchByCodigoActivo">
          <td></td>
          <td contenteditable="true">{{ enlaces.codigoActivo }}</td>
          @for (secciones of getDbSecciones; track $index) { @if(secciones.id ===
          enlaces.idSeccion){
          <td contenteditable="true">{{ secciones.nombreSeccion }}</td>
          } } @for (responsable of getDbResponsables; track $index) {
          @if(responsable.id === enlaces.idResponsable){
          <td contenteditable="true">{{ responsable.nombreResponsable }}</td>
          } } @for (typoHost of getDbTypeHost; track $index) { @if(typoHost.id ===
          enlaces.idTipoHost){
          <td contenteditable="true">{{ typoHost.nombreTipoHost }}</td>
          } }
          <td contenteditable="true">{{ enlaces.numeroSerie }}</td>
          <td contenteditable="true">{{ enlaces.descripcion }}</td>
          <td contenteditable="true">{{ enlaces.direccionIp }}</td>
          <td contenteditable="true">{{ enlaces.fecha }}</td>
        </tr>
        } }
      <!-- MUESTRA TODOS LOS REGISTROS DE LOS DISPOSITIVOS -->
      @if(filterCodigoActivo.length === 0 && filterSeccion.length === 0 && filterResponsable.length === 0 && filterTypeHost.length === 0 && filterNumeroSerie.length === 0){ @for (enlaces of getDbEnlaces; track
      $index) {
      <tr tabindex="{{ $index + 1 }}" style="font-size: small">
        <td>{{ $index + 1 }}</td>
        <td contenteditable="true">{{ enlaces.codigoActivo }}</td>
        @for (secciones of getDbSecciones; track $index) { @if(secciones.id ===
        enlaces.idSeccion){
        <td>{{ secciones.nombreSeccion }}</td>
        } } @for (responsable of getDbResponsables; track $index) {
        @if(responsable.id === enlaces.idResponsable){
        <td>{{ responsable.nombreResponsable }}</td>
        } } @for (typoHost of getDbTypeHost; track $index) { @if(typoHost.id ===
        enlaces.idTipoHost){
        <td>{{ typoHost.nombreTipoHost }}</td>
        } }
        <td>{{ enlaces.numeroSerie }}</td>
        <td>{{ enlaces.descripcion }}</td>
        <td>{{ enlaces.direccionIp }}</td>
        <td>{{ enlaces.fecha }}</td>
      </tr>
      } }
    </tbody>
  </table>
</section>
