.searchAndFilter
    width: 60vw
    border: 1px solid #d3d3d3
    display: inline-block
    position: relative
    &__searchResults
        list-style: none
        padding: 0
        &-link
            cursor: pointer
            padding: 5px 
            background-color: #ff8d8d 
            color: #460000
            &:hover
                background-color: #ff6c6c 
