.searchResults
    list-style: none
    &__link
        cursor: pointer
        padding: 5px 
        background-color: #ff8d8d 
        color: #460000
        
        &:hover
            background-color: #ff6c6c 
