<app-bread-crumb />
<!-- SELECCIONA EL TIPO DE BUSQUEDAD -->
<section>
  <select
    class="form-select form-select-lg d-inline-flex focus-ring focus-ring-light py-1 px-2 text-decoration-none border rounded-2"
    [(ngModel)]="searchType!"
  >
    <option value="Buscar por..." selected disabled>Buscar por...</option>
    <option value="codigo">Codigo activo o S/N</option>
    <option value="cascada">Buscar y Filtrar</option>
  </select>
</section>
@if(searchType == "codigo"){
<!-- busqueda por codigo activo y S/N -->
<div class="d-flex align-items-center">
  <input
    class="py-1"
    type="text"
    [(ngModel)]="searchByCode"
    placeholder="codigo"
  />
  <button class="btn bg-danger" (click)="btnSearchByCodes()">Buscar</button>
</div>
}

<!-- VER INFO DE LOS HOSTS -->
<section>
  <table class="table table-dark table-hover fs-6">
    <thead>
      <tr style="font-size: 0.9rem;">
        <th class="fw-light" scope="col">codigo activo</th>
        <th class="fw-light" scope="col">sección</th>
        <th class="fw-light" scope="col">responsable</th>
        <th class="fw-light" scope="col">host</th>
        <th class="fw-light" scope="col">número de Serie</th>
        <th class="fw-light" scope="col">descripción</th>
        <th class="fw-light" scope="col">direccion Ip</th>
        <th class="fw-light" scope="col">fecha de compra</th>
        <th class="fw-light" scope="col"></th>
        <th class="fw-light" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @for (item of getDbEnlacesFilters; track $index) {
      <tr>
          <td>{{item.codigoActivo}}</td>
          @for (item of getDbSeccionesFilters; track $index) {
            <td>{{item.nombreSeccion}}</td>
          }
          @for (item of getDbResponsablesFilters; track $index) {
            <td>{{item.nombreResponsable}}</td>
          }
          @for (item of getDbTypeHostFilters; track $index) {
            <td>{{item.nombreTipoHost}}</td>
          }
          <td>{{item.numeroSerie}}</td>
          <td>{{item.descripcion}}</td>
          <td>{{item.direccionIp}}</td>
          <td>{{item.fecha}}</td>
        
        <td><button type="button" class="btn btn-warning" (click)="updateFilterByCode()">Actualizar</button></td>
        <td><button type="button" class="btn btn-danger">Borrar</button></td>
      </tr>
    }
    </tbody>
  </table>
</section>
<!-- ********************* ACTUALIZAR REGISTROS O CREAR UNO NUEVO ************************** -->

<!-- BUTTON CREATE DISPOSITIVO -->
<button
  type="button"
  class="btn btn-primary py-0 d-flex align-items-center"
  data-bs-toggle="modal"
  data-bs-target="#dispositivo"
>
  <span>Crear Dispositivo</span><i class="bi bi-plus fs-5"></i>
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="dispositivo"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Crear Host
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- **************FORMULARIO*************** -->
        <div class="form__createHost px-4 py-3">
          <!-- campo nombre secciones -->
          <select
            class="secciones validateInput form-select mb-3"
            aria-label="Default select example"
            [(ngModel)]="id_seccion"
            (click)="validateInputs($event,id_seccion, 'seccion')"
          >
            <option selected disabled>nombre de sección</option>
            @for (item of getDbSecciones; track item.id) {
            <option (click)="validateInputs($event,id_seccion,'seccion')" value="{{ item.id }}">
              {{ item.nombreSeccion }}
            </option>
            }
          </select>
          <!-- codigo responsable del dispositivo-->
          <select
            class="responsable validateInput form-select mb-3"
            aria-label="Default select example"
            [(ngModel)]="id_responsable"
            (click)="validateInputs($event,id_responsable, 'responsable')"
          >
            <option selected disabled>nombre de responsable</option>
            @for (item of getDbResponsables; track $index) {
              @if (id_seccion  === item.idSeccion.toString()) {
                <option value="{{item.id}}">{{item.nombreResponsable}}</option>
              }
            }
          </select>
          <!-- campo host -->
          <select
            class="host validateInput form-select mb-3"
            aria-label="Default select example"
            [(ngModel)]="id_host"
            (click)="validateInputs($event,id_host,'host')"
          >
            <option selected disabled>tipo de host</option>
            @for (item of getDbTypeHost; track $index) {
              <option value="{{item.id}}">{{item.nombreTipoHost}}</option>
            }
          </select>
          <!-- codigo activo -->
          <div class="mb-3">
            <input
              type="text"
              class="codigo_activo form-control validateInput"
              [(ngModel)]="codigo_activo"
              placeholder="codigo activo"
              (input)="validateInputs($event,codigo_activo!,'codigo activo')"
            />
          </div>
          <!-- campo serie -->
          <div class="mb-3">
            <input
              type="text"
              class="numero_serie form-control"
              [(ngModel)]="numero_serie"
              placeholder="número de serie"
              (input)="validateInputs($event,numero_serie,'numero serie')"
            />
          </div>
          <!-- campo descripcion -->
          <div class="mb-3">
            <input
              type="text"
              class="descripcion form-control"
              [(ngModel)]="descripcion"
              placeholder="descripcion"
              (input)="validateInputs($event,descripcion,'descripcion')"
            />
          </div>
          <!-- campo direccion IP -->
          <div class="mb-3">
            <input
              type="text"
              class="direccion_ip form-control validateInput"
              [(ngModel)]="direccion_ip"
              placeholder="Dirección IP"
              (input)="validateInputs($event,direccion_ip,'direccion ip')"
            />
          </div>
          <!-- campo fecha -->
          <div class="mb-3">
            <input type="date" class="form-control" [(ngModel)]="fecha_compra" />
          </div>
        </div>
        <!-- ************************************ -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="postNewHost()"
        >
          Guardar Cambios
        </button>
      </div>
    </div>
  </div>
</div>