<app-bread-crumb />
<!-- SELECCIONA EL TIPO DE BUSQUEDAD -->
<section>
  <select
    class="form-select form-select-lg d-inline-flex focus-ring focus-ring-light py-1 px-2 text-decoration-none border rounded-2"
    [(ngModel)]="searchType!"
  >
    <option value="Buscar por..." selected disabled>Buscar por...</option>
    <option value="codigo">Codigo activo o S/N</option>
    <option value="cascada">Buscar y Filtrar</option>
  </select>
</section>
@if(searchType == "codigo"){
<!-- busqueda por codigo activo y S/N -->
<div class="d-flex align-items-center">
  <input
    class="py-1"
    type="text"
    [(ngModel)]="searchByCode"
    placeholder="codigo"
  />
  <button class="btn bg-danger" (click)="btnSearchByCodes()">Buscar</button>
</div>

}@else if(searchType == "cascada"){
<!-- Busqueda por filtrado -->
<section class="searchAndFilter">
  <select
    class="form-select form-select-lg d-inline-flex focus-ring focus-ring-light py-1 px-2 text-decoration-none border rounded-2"
    aria-label="Large select filter"
    [(ngModel)]="index"
    (click)="sectionFilter(index!, $event)"
  >
    <option selected disabled value="select an options">
      Selecciona Una Opción
    </option>
    <option value="0">Planta Principal</option>
    <option value="1">PDV Bogotá</option>
    <option value="2">PDV Nacionales</option>
    <option value="3">PDV Internacionales</option>
  </select>
  @if(openFilter){
  <!-- Busquedad por texto -->
  <div>
    <input
      type="text"
      placeholder="Buscar..."
      [(ngModel)]="textInputFilter"
      (input)="getTextInputFilter(textInputFilter!)"
    />
  </div>
  <!-- Resultados de la busquedad -->
  <ul class="searchAndFilter__searchResults">
    @switch (openFilter) { @case ("sections") { @for (section of
    dataItemsFilter; track section.id) {
    <li
      class="searchAndFilter__searchResults-link"
      (click)="selectSections(section.id)"
    >
      {{ section.name }}
    </li>
    } }@case ("host") { @for (section of dataItemsFilter; track section.id) {
    <li
      class="searchAndFilter__searchResults-link"
      (click)="selectHost(section.id)"
    >
      {{ section.name }}
    </li>
    } }@case ("accessPoint") { @for (section of dataItemsFilter; track
    section.id) {
    <li
      class="searchAndFilter__searchResults-link"
      (click)="selectIp(section.id)"
    >
      {{ section.name }}
    </li>
    } }@case ("cameras") { @for (section of dataItemsFilter; track section.id) {
    <li
      class="searchAndFilter__searchResults-link"
      (click)="selectIp(section.id)"
    >
      {{ section.name }}
    </li>
    } }@case ("printers") { @for (section of dataItemsFilter; track section.id)
    {
    <li
      class="searchAndFilter__searchResults-link"
      (click)="selectIp(section.id)"
    >
      {{ section.name }}
    </li>
    } }@case ("switches") { @for (section of dataItemsFilter; track section.id)
    {
    <li
      class="searchAndFilter__searchResults-link"
      (click)="selectIp(section.id)"
    >
      {{ section.name }}
    </li>
    } } }
  </ul>
  }
</section>
}

<!-- VIEWS DATA PRINTERS -->
<section>
  <table class="table table-dark table-hover fs-6">
    <thead>
      <tr style="font-size: 0.9rem;">
        <th class="fw-light" scope="col">Id</th>
        <th class="fw-light" scope="col">Sección</th>
        <th class="fw-light" scope="col">Gerencia</th>
        <th class="fw-light" scope="col">Dependencia</th>
        <th class="fw-light" scope="col">Dispositivo de red</th>
        <th class="fw-light" scope="col">Dirección Ip</th>
        <th class="fw-light" scope="col">Codigo activo</th>
        <th class="fw-light" scope="col">Número de Serie</th>
        <th class="fw-light" scope="col">Fecha de compra</th>
      </tr>
    </thead>
    <tbody>
      <tr style="font-size: 0.7rem;">
      <th scope="row">1</th>
      @for (item of searchBycodeActiveSeccion; track $index) {
        <td>{{ item.nombre }}</td>
      }
      @for (item of searchBycodeActiveGerencia; track $index) {
        <td>{{ item.nombre }}</td>
      }
      @for (item of searchBycodeActiveDependencia; track $index) {
        <td>{{ item.nombre }}</td>
      }
      @for (item of searchBycodeActiveEnlace; track $index) {
        @switch (item.id_impresoras.toString()) {
          @case ("0") {<td>IMPRESORA</td>}
          @case ("1") {<td>SWITCH</td>}
          @case ("2") {<td>ACCESPOINT</td>}
        }
        <td><a href="https://{{item.direccion_ip}}" target="_blank">https://{{ item.direccion_ip }}</a></td>
        <td>{{ item.codigo_activo }}</td>
        <td>{{ item.numero_serie }}</td>
        <td>{{ item.fecha }}</td>
      }
      </tr>
    </tbody>
  </table>

  <!-- @for (item of getInfoEnlaces; track $index) {
    <div>Codigo Activo: {{item.codigo_activo}}</div>
    <div>Dirección Ip: <a href="https://{{item.direccion_ip}}" target="_blank">{{item.direccion_ip}}</a></div>
  } -->
</section>
