<aside class="aside">
  <section class="aside__loginUser">
    <i class="aside__loginUser-icon bi bi-person-circle"></i>
    <span class="aside__loginUser-span">User Name</span>
  </section>
  <div class="aside-items">
    <a class="aside-link" href=""><i class="aside-link-icons bi bi-house"></i><span>Inicio</span></a>
    <a class="aside-link" href=""><i class="aside-link-icons bi bi-funnel"></i><span>Busqueda y Filtrado</span></a>
    <a class="aside-link" href=""><i class="aside-link-icons bi bi-sliders"></i><span>Opciones de Configuración</span></a>
    <a class="aside-link" href=""><i class="aside-link-icons bi bi-clock-history"></i><span>Ver Registro</span></a>
    <a class="aside-link" href=""><i class="aside-link-icons bi bi-file-earmark"></i><span>Enviar Informe</span></a>
    <a class="aside-link" href="">Cerrar Sesión</a>
  </div>
</aside>