.aside
    background-color: #212221
    height: 100%
    padding: 20px 25px
    width: 25vw
    &__loginUser
        display: flex
        align-items: center
        border-bottom: 1px solid #fafafa
        padding: 10px
        margin-bottom: 15px
        &-icon
            font-size: 30px
        &-span
            padding-left: 15px

    &-link
        display: block
        padding: 8px 6px
        color: #ffffff
        list-style: none
        border-radius: 5px 
        text-decoration: none
        &:hover
            background-color: #b10000
        &-icons
            padding-right: 10px
            font-size: 20px