<aside class="aside">
  <section class="aside__user">
    <!-- <i class="aside__user-icon bi bi-person-circle"></i> -->
    <h1 class="aside__user-h1 fs-6">Administrador de Dispositivos</h1>
    <!-- <span class="aside__user-span">{{loggedUser}}</span> -->
  </section>
  <div class="aside-items">
    <li class="aside-link" routerLink='/panel'><i class="aside-link-icons bi bi-house"></i>INICIO</li>
    <li class="aside-link" routerLink='filter'><i class="aside-link-icons bi bi-funnel"></i>BUSQUEDA Y FILTRADO</li>
    <li class="aside-link" routerLink="configuration"><i class="aside-link-icons bi bi-sliders"></i>OPCIONES DE CONFIGURACIÓN</li>
    <li class="aside-link"><i class="aside-link-icons bi bi-clock-history"></i>VER REGISTRO</li>
    <li class="aside-link"><i class="aside-link-icons bi bi-file-earmark"></i>ENVIAR INFORME</li>
    <li class="aside-link"><i class="aside-link-icons bi bi-list-columns"></i>LISTA DE HOST</li>
    <li class="aside-link">CERRAR SESIÓN</li>
  </div>
</aside>


