.content__dashboard
    height: 100vh
    display: grid
    grid-template-columns: 25vw 75vw 
    grid-template-rows:  80vh 20vh

    &-section
        display: flex
        justify-content: center
        margin: 10px 0


        
    