.content__dashboard
    height: 100vh
    display: grid
    grid-template-columns: 280px 1fr 
    grid-template-rows: 100vh
    
    &-section
        height: 100%
    &-content
        box-shadow: 1px 1px 10px #404040    
        margin: 5rem 1rem 1rem 1rem
        


        
    