<!-- BOTON DE CREAR SECCION -->
<button
  type="button"
  style="background-color: #990008;"
  class="btn m-3 text-light py-1 d-flex align-items-center shadow p-3 mb-1 rounded"
  data-bs-toggle="modal"
  data-bs-target="#section"
  (click)="addNew('seccion')"
>
  Agregar Sección
</button>
<!-- BOTON DE CREAR UN RESPONSABLE -->
<button
  type="button"
  style="background-color: #990008;"
  class="btn m-3 text-light py-1 d-flex align-items-center shadow p-3 mb-1 rounded"
  data-bs-toggle="modal"
  data-bs-target="#section"
  (click)="addNew('responsable')"
>
  Agregar Responsable
</button>
<!-- BOTON DE CREAR HOST -->
<button
  type="button"
  style="background-color: #990008;"
  class="btn m-3 text-light py-1 d-flex align-items-center shadow p-3 mb-1 rounded"
  data-bs-toggle="modal"
  data-bs-target="#section"
  (click)="addNew('host')"
>
  Agregar Host
</button>
<!-- Modal -->
<div
  class="modal fade"
  id="section"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Agregar {{ nameForm }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- campo codigo fijo centauro de responsable -->
        <div class="mb-3">
          <input
            type="text"
            [(ngModel)]="inputTextCentauro"
            class="nameUserCentauro form-control"
            placeholder="Codigo fijo centauro"
          />
        </div>
        <!-- campo de seccion, responsable o host-->
        <div class="mb-3">
          <input
            type="text"
            [(ngModel)]="inputText"
            class="nameSeccionOrHost form-control"
            placeholder="Nombre de {{ nameForm }}"
          />
        </div>
        <!-- campo de seccion o responsable -->
        <select
          class="nameSelectResponsable validateInput form-select mb-3"
          aria-label="Default select example"
          [(ngModel)]="idResponsableOrHost"
        >
          <option selected disabled>Nombre de seccion</option>
          @for (item of getDBSecciones; track $index) {
          <option value="{{ item.id }}">{{ item.nombreSeccion }}</option>
          }
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button
          type="button"
          style="background-color: #990008;"
          class="btnSave btn text-light"
          (click)="submitInfo()"
        >
          Guardar Cambios
        </button>
      </div>
    </div>
  </div>
</div>
