.form__createHost
    &-ul
        list-style: none
        padding: 0
    &-li
        cursor: pointer
        padding: 5px 
        background-color: #212221
        color: #ffffff
        &:hover
            background-color: #e20020
    

.validateInput
    border: 1px solid #f00        
